body {
  text-align: center;
}

img {
  max-width: 200px;
  max-height: 200px;
}

.root {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.box {
  background-color: rgb(236, 234, 234);
  color: #444;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  width: 300px;
}

#cod {
  color: rgb(2, 97, 2);
}

#decod {
  color: rgb(128, 4, 4);
}
